@import '_variables'
  
.FilterBar
  margin-bottom: 15px
  width: 100%
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap

  & > *
    margin: 4px 4px
    flex-grow: 1

  @media(max-width: $mobileWidth)
    margin-top: 15px
    flex-wrap: wrap

    & > *
      margin: 4px 4px

.Reset
  background-image: url('../assets/reset.svg')
  background-repeat: no-repeat
  background-color: transparent
  background-size: 100%
  border: 0
  outline: 0
  width: 17px
  height: 20px
  cursor: pointer
  flex-shrink: 0
  flex-grow: 0 !important
  align-self: center

.ItemTypes
  width: 100%

.Sort
  text-align: right
