.RuneWord {
  /* height: 220px; */
  width: 325px;
  border: 1px solid #666;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 5px;
  position: relative;
}

.RuneWord .Header {
  font-family: 'ExocetHeavy';
  font-size: 17px;
  color: rgb(144, 136, 88);
}

.RuneWord .Type {
  color: #8a8a8a;
  padding: 8px 0;
  font-size: 14px;
}

.RuneWord .Word {
  color: rgb(144, 136, 88);
  padding: 8px 0;
  font-family: 'ExocetLight';
  font-size: 15px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.RuneWord .Word img {
  vertical-align: middle;
}

.RuneWord .Body {
  color: #5050ac;
}

.RuneWord .Body p {
  margin: 5px 0;
}

.RuneWord .Ladder {
  padding-top: 3px;
}

.RuneWord .SmallRune {
  width: 24px;
  height: 24px;
}

.RuneWord .Clvl {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 30px;
  color: rgb(146, 146, 146);
  background-color: rgb(37, 37, 37);
  border: 1px solid #666;
  border-radius: 2px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.WordPart {
  padding: 3px 7px;
  border-radius: 5px;
}

.WordPartPlus {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  width: 17px;
}

.WordPart.IsOwned {
  background-color: #c3ecc3;
  background-image: url('./assets/check.svg');
  background-position: calc(100% - 1px) 1px;
  background-size: 11px;
  background-repeat: no-repeat;
}